header {
    background-color: brown;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a.active {
    border-bottom: 2px solid white;
  }
  
  footer {
    background-color: green;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 24px;
    padding: 10px 0;
  }